:root {
  --bg: hsl(0, 0%, 100%); 
  --bg-content: hsl(225, 50%, 92%);
  --bg-section: hsl(225, 0%, 97%);
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  --shadow-l: 
  inset 0 2px 4px var(--bg), 
  0 4px 6px #00000020,
  0 6px 10px #00000010;
  --shadow-t: 0px 1px 2px hsl(0, 0%, 50%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg);
    /* Continuous background color */
    animation: fadeInPage 0.5s ease-out forwards;
}

@keyframes fadeInPage {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}



.content {
    width: 100%;
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--bg-content);
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.section {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 8px 0;
    background: var(--bg-section);
    box-shadow: var(--shadow-l);
    border-radius: 20px
}


.subsection {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 8px 0;
    background: var(--bg-section);
    box-shadow: var(--shadow-l);
    border-radius: 8px;
}


.profile-pic {
    width: calc(100% + 40px);
    /* Full width + left/right padding */
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    /* Remove top margin */
    display: block;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.profile-links {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.profile-links a {
    margin-right: 15px;
    /* Adjust the spacing as needed */
}

.publication-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center top;
}

.image-container {
    flex: 1;
    width: 100%;
    margin-right: 20px;
}

.publication-content {
    flex: 4;
    width: 100%;
    text-align: left;
}

.publication-image {
    width: 100%;
    border-radius: 30%;
    box-shadow: var(--shadow);
    /* border: solid 2px hsla(0, 0%, 0%, 0.05); */
}

.experience-image {
    width: 75%;
    border-radius: 30%;
    box-shadow: var(--shadow);
    /* border: solid 2px hsla(0, 0%, 0%, 0.05); */
}


.linkicons-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
}

.date {
    width: 100px;
    /* Fixed width for date column */
    font-size: 14px;
    flex-shrink: 0;
    /* Prevent date column from resizing */
}

li span {
    font-size: 14px;
}


/* Reducing font size for headings */
h1 {
    font-size: 32px;
    /* Adjust the size as needed */
    font-weight: 550;
    text-shadow: var(--shadow-t);
}

h2 {
    font-size: 18px;
    font-weight: 500;
    text-shadow: var(--shadow-t);
    /* font-style: italic; */
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Reducing font size for paragraphs */
p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Style for .type2 */
strong.type2 {
    font-weight: 600
}

strong.pubtitle {
    color: navy;
    font-style: italic;
}

a {
    font-size: 14px;
    color: rgb(0, 0, 238);
    /* Change this to the color you prefer */
}

a:visited {
    color: rgb(0, 0, 238);
    /* Same color as the unvisited link */
}

/* This will style the links when hovered over */
a:hover {
    color: rgb(255, 165, 0);
    /* Hover link color */
}

a:visited:hover {
    color: rgb(255, 165, 0);
    /* Hover link color */
}

.horizontal-shadow {
    width: calc(100% + 40px);
    /* Overwrite .content padding */
    margin-left: -20px;
    margin-right: -20px;
    height: 2px;
    background-color: white;
    border: none;
    padding: 0;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.horizontal-spacer {
    width: calc(100% + 60px);
    /* Overwrite .content padding */
    margin-left: -30px;
    margin-right: -30px;
    height: 5px;
    background-color: #ffffff;
    border: none;
    padding: 0;
    /* box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1); */
}

@media (max-width: 768px) {

    .publication-content {
        flex: 2;
        width: 100%;
        text-align: left;
    }

}


.fas, .fab, .far, .fal, .fad {
    text-shadow: 1px 1px 2px rgba(0, 0, 238, 0.5);
}

.fas:hover, .fab:hover, .far:hover, .fal:hover, .fad:hover {
    text-shadow: 1px 1px 2px rgba(255, 165, 0, 0.5);
}

.fas:visited:hover, .fab:visited:hover, .far:visited:hover, .fal:visited:hover, .fad:visited:hover {
    text-shadow: 1px 1px 2px rgba(255, 165, 0, 0.5);
}
